body {
  background: #000428; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #004e92,
    #000428
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #004e92,
    #000428
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar {
  background: #004e92;
}

a.nav-link,
h1,
h2,
p,
li {
  color: white;
}

:target {
  scroll-margin-top: 4.5rem;
}

.social-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.text-paragraph,
.numbered-item {
  font-size: 20px;
}

.project-background-container {
  margin-top: 1rem;
}

.project-video,
.project-description-brief {
  margin-top: 3rem;
}

.project-video,
.project-background-container,
.project-description-brief {
  margin-bottom: 3rem;
}

.navbar-brand {
  font-size: 20px;
  font-weight: bold;
}

@media screen and (max-width: 991px) {
  :target {
    scroll-margin-top: 21rem;
  }
}
